<!doctype html>
<html lang="en">
  <head>
    <%- include("../components/boilerplate") %>
    <link rel="stylesheet" href="css/admin-dashboard.css">
    <title>Admin Login</title>
  </head>
  <body>
    <img src="/COMPSA Logo.png" alt="COMPSA Logo" id="compsa-logo">
    <h1>Admin Dashboard</h1>
    <h2>Change location</h2>
    <% for( let puzzle of puzzles) { %>
        <form action="/admin/<%= puzzle.id %>" method="post" style="margin-bottom: 2rem;">
            <div>
                <h1 class="q-num"><%= puzzle.number + 1 %></h1>
                <textarea type="text" name="0" rows="10" cols="50"><%= puzzle.reward[0] %></textarea>
                <textarea type="text" name="1" rows="10" cols="50"><%= puzzle.reward[1] %></textarea>
                <textarea type="text" name="2" rows="10" cols="50"><%= puzzle.reward[2] %></textarea>
                <input type="hidden" name="password" value="<%= password %>">
            </div>
            <button>Apply</button>
        </form>
    <% } %>
  </body>
</html>
