<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scavenger Hunt</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= question %></p>

    <form action="/<%= id %>/check-string" method="post">
      <div>
        <label for="answer" style="display: block">Answer</label>
        <input type="text" name="answer" value="<%= input || ""%>" required />
      </div>
      <p><%= incorrect && "Incorrect, please try again" %></p>
      <button>Submit</button>
    </form>
  </body>
</html>
