<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scavenger Hunt</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <img
      src="https://res.cloudinary.com/dnmrwlniy/image/upload/v1692152416/Scavenger%20Hunt/crossword-21SEp8IRYe_1_wo961e.png"
      alt="puzzle"
    />
    <form action="/<%= id %>/check-array" method="POST">
      <% input = input && input.split(",") %>
      <% incorrect = incorrect && incorrect.split(",") %>
      <div>
        <% for( let index = 0; index < 5; index++ ) { %>
        <label for="<%= index %>"><%= index + 1 %>.</label>
        <input type="text" name="<%= index %>" id="<%= index %>" required
        value="<%= input && input[index] %>"
        <% if (incorrect && incorrect.includes(String(index))) { %>
         class="incorrect-input"
        <% } %>
        />
        <% } %>
      </div>
      <div>
        <% for( let index = 5; index < 10; index++ ) { %>
        <label for="<%= index %>"><%= index+1 %>.</label>
        <input type="text" name="<%= index %>" id="<%= index %>" required
        value="<%= input && input[index] %>"
        <% if (incorrect && incorrect.includes(String(index))) { %>
          class="incorrect-input"
        <% } %>
        />
        <% } %>
      </div>
      <% if (incorrect) { %>
      <div>Incorrect</div>
      <div>
        <%= incorrect.map(num => (Number(num) + 1)).join(', ') %>
      </div>
      <% } %>
      <button>Submit</button>
    </form>
  </body>
</html>
