<!doctype html>
<html lang="en">
  <head>
    <%- include("components/boilerplate") %>
    <link rel="stylesheet" href="/css/4-5.css">
  </head>
  <body>
    <%- include("components/heading") %>
    <img src="/COMPSA Logo.png" alt="COMPSA Logo" id="compsa-logo">
    <a href="https://res.cloudinary.com/dnmrwlniy/image/upload/v1692152416/Scavenger%20Hunt/crossword-21SEp8IRYe_1_wo961e.png">
      <img
        src="https://res.cloudinary.com/dnmrwlniy/image/upload/v1692152416/Scavenger%20Hunt/crossword-21SEp8IRYe_1_wo961e.png"
        alt="puzzle"
        id="question-img"
      />
    </a>
    <form action="/<%= id %>/check-array" method="POST"
      style="display: flex; flex-direction: column; gap: 1rem;">
      <% input = input && input.split(",") %>
      <% incorrect = incorrect && incorrect.split(",") %>
      <div>
        <% for( let index = 0; index < 5; index++ ) { %>
        <label for="<%= index %>"><%= index + 1 %>.</label>
        <input type="text" name="<%= index %>" id="<%= index %>" required
        value="<%= input && input[index] %>"
        <% if (incorrect) { %>
         class=<%=incorrect.includes(String(index)) ? "incorrect-input" : "correct-input"%>
        <% } %>
        />
        <% } %>
      </div>
      <div>
        <% for( let index = 5; index < 10; index++ ) { %>
        <label for="<%= index %>"><%= index+1 %>.</label>
        <input type="text" name="<%= index %>" id="<%= index %>" required
        value="<%= input && input[index] %>"
        <% if (incorrect) { %>
          class=<%=incorrect.includes(String(index)) ? "incorrect-input" : "correct-input"%>
        <% } %>
        />
        <% } %>
      </div>
      <% if (incorrect) { %>
      <div class="error-mesg">Incorrect: <%= incorrect.map(num => (Number(num) + 1)).join(', ') %></div>
      <% } %>
      <button>Submit</button>
    </form>
  </body>
</html>
