<!doctype html>
<html lang="en">
  <head>
    <%- include("components/boilerplate") %>
  </head>
  <body>
    <%- include("components/heading") %>
    <img src="COMPSA Logo.png" alt="COMPSA Logo" id="compsa-logo">
    <img
      src="https://res.cloudinary.com/dnmrwlniy/image/upload/v1692212781/Scavenger%20Hunt/coding_question_yhn4il.png"
      alt="puzzle"
    />
    <form action="/<%= id %>/check-array" method="POST">
      <% input = input && input.split(",") %>
      <% incorrect = incorrect && incorrect.split(",") %>
      <div>
        <% for( let index = 0; index < 5; index++ ) { %>
        <label for="<%= index %>"><%= index + 1 %>.</label>
        <input type="text" name="<%= index %>" id="<%= index %>" required
        value="<%= input && input[index] %>"
        <% if (incorrect && incorrect.includes(String(index))) { %>
         class="incorrect-input"
        <% } %>
        />
        <% } %>
      </div>
      <% if (incorrect) { %>
      <div>Incorrect</div>
      <div>
        <%= incorrect.map(num => (Number(num) + 1)).join(', ') %>
      </div>
      <% } %>
      <button>Submit</button>
    </form>
  </body>
</html>
