<!doctype html>
<html lang="en">
  <head>
    <%- include("components/boilerplate") %>
    <link rel="stylesheet" href="/css/cipher.css">
  </head>
  <body>
    <%- include("components/heading") %>
    <img src="/COMPSA Logo.png" alt="COMPSA Logo" id="compsa-logo">
    <div id="question"><%= question %></div>
    <div id="code"><%= code %></div>
    <%- include("components/form") %>
  </body>
</html>
