<!doctype html>
<html lang="en">
  <head>
    <%- include("components/boilerplate") %>
  </head>
  <body>
    <h1>#<%= number %> <%= title %></h1>
    <div><%= question %></div>
    <div><%= code %></div>
    <form action="/<%= id %>/check-string" method="POST">
      <div>
        <label for="answer" style="display: block">Answer</label>
        <input type="text" name="answer" value="<%= input || ""%>" required />
      </div>
      <p><%= incorrect && "Incorrect, please try again" %></p>
      <button>Submit</button>
    </form>
  </body>
</html>
