<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You Won!</title>
  </head>
  <body>
    <h1>Congratulations!</h1>
    <p>
      You have solved the final puzzle! Create a name for your team and enter
      your team ID to verify your victory
    </p>
    <form action="/win" method="POST">
      <div>
        <label for="name">Team</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Provide a team name"
          value="<%= teamNameInput %>"
          required
        />
      </div>
      <p>
        <%= nameTaken && "Team Name is taken"%>
      </p>
      <div>
        <label for="id">Team ID</label>
        <input
          type="text"
          name="id"
          id="id"
          placeholder="Enter the ID we provided for you"
          value="<%= teamIDInput %>"
          required
        />
      </div>
      <p>
        <%= invalidID && "Team ID is invalid or already registered as a winner"%>
      </p>
      <input type="hidden" name="questionID" value="<%= questionID %>" />
      <input type="hidden" name="answer" value="<%= answer %>" />
      <button>Submit</button>
      <div>
        <p>Note: You can only register your victory once</p>
      </div>
    </form>
  </body>
</html>
