<!doctype html>
<html lang="en">
  <head>
    <%- include("components/boilerplate") %>
  </head>
  <link rel="stylesheet" href="/css/win.css">
  <body>
    <img src="/COMPSA Logo.png" alt="COMPSA Logo" id="compsa-logo">
    <h1>COMPSA Scavenger Hunt</h1>
    <h1 style="color: #90C78E">Congratulations!</h1>
    <div id="win-message">
      You have solved the final puzzle! Create a name for your team and enter
      your team ID to verify your victory
    </div>
    <form action="/win" method="POST">
      <div id="input-fields">
        <div>
          <label for="name">Team Name</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Provide a team name"
            value="<%= teamNameInput %>"
            required
            class="<%= nameTaken && "incorrect-input"%>"
          />
          <p class="error-mesg">
            <%= nameTaken && "Team Name is taken"%>
          </p>
        </div>
        <div>
          <label for="id">Team ID</label>
          <input
            type="text"
            name="id"
            id="id"
            placeholder="Enter the ID we provided for you"
            value="<%= teamIDInput %>"
            required
            class="<%= invalidID && "incorrect-input"%>"
          />
          <p class="error-mesg">
            <%= invalidID && "Team ID is invalid or already registered as a winner"%>
          </p>
        </div>
      </div>
      <input type="hidden" name="questionID" value="<%= questionID %>" />
      <input type="hidden" name="answer" value="<%= answer %>" />

      <div>
        <button>Submit</button>
        <div class="error-mesg" style="color: rgb(255, 255, 137)">
          You can only register your victory once
        </div>
      </div>
    </form>
  </body>
</html>
